body {
  font-family: sans-serif;
  background: #eaf9fb;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #204d8c;
  color: white;
  padding: 30px 10px;
  border-bottom: 5px solid #aad8f2;
}

nav a {
  margin: 0 10px;
  color: white;
  background: #49a3d2;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

section {
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
